/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: "Lato", sans-serif;
}

/* Common */

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-one-third {
    width: calc(100% / 3);
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Header */

#header {
    height: 46px;
    width: 100%;
    background: #000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: inline-block;
}

header .nav > li {
    display: inline-block;
}

.nav > li {
    position: relative;
}

.nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

.nav li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

.nav > li:hover > a,
.nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

ul {
    list-style-type: none;
}

.nav .subnav {
    display: none;
    background: #fff;
    min-width: 160px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav a {
    display: block;
    color: #000;
    line-height: 38px;
    text-transform: capitalize;
    padding: 0 16px;
}

.nav li:hover .subnav {
    display: block;
}

header .search-btn {
    float: right;
    padding: 0 24px;
    line-height: 46px;
}
header .search-icon {
    font-size: 14px;
    color: #fff;
}

header .search-btn:hover {
    background-color: #f44336!important;
}


/* Slide */

.slider {
    margin-top: 46px;
    padding-top: 50%;
    position: relative;

    animation: slide 6s step-end infinite;
}

.slider .text-content {
    padding: 32px 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider .text-heading {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}

.slider .text-description {
    color: #fff;
    font-size: 15px;
    margin: 15px 0;
    font-weight: bolder;
}

@keyframes slide {
    0% {
<<<<<<< HEAD
        background: url("https://github.com/trph3322/w3-TheBand/blob/main/assets/img/slider/slider1.jpg") top right / cover no-repeat;
    }
    33% {
        background: url("https://github.com/trph3322/w3-TheBand/blob/main/assets/img/slider/slider2.jpg") top right / cover no-repeat;
    }
    67% {
        background: url("https://github.com/trph3322/w3-TheBand/blob/main/assets/img/slider/slider3.jpg") top right / cover no-repeat;
=======
        background: url("/assets/img/slider/slider1.jpg") top right / cover no-repeat;
    }
    33% {
        background: url("/assets/img/slider/slider2.jpg") top right / cover no-repeat;
    }
    67% {
        background: url("/assets/img/slider/slider3.jpg") top right / cover no-repeat;
>>>>>>> parent of 3669f6b (update style.css)
    }
}

/* Content */

.content {
    
}

/* About section */

.content .content-section {
    width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
}

.content .content-section .section-heading {
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.content .content-section .section-sub-heading {
    margin: 15px 0;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
}

.content .content-section .about-text {
    margin: 15px 0;
    line-height: 22.5px;
    font-size: 15px;
    text-align: justify;
}

.content .member-list {
    padding: 32px 0;
}


.content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

.content .member-img {
    margin: 0 0 16px;
    width: 60%;
}

/* Tour section */

.content .tour-section {
    background: #000;
}

.ticket-list {
    background-color: #fff;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
}

.ticket-list .quantity {
    float: right;
    background: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin: -3px 16px 0 0;
}

/* Places */

.place-list {
    margin-top: 32px;
    padding-bottom: 32px;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-heading {
    font-size: 15px;
    font-weight: bolder;
}

.place-time {
    opacity: 0.6;
    margin: 16px 0;
}

.place-description {
    margin: 15px 0;
    line-height: 1.5;
}


/* Modal buy tickets */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}


.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn 0.4s;
}

@keyframes modalFadeIn {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
}

.modal-close:hover {
    color: #ccc;
    background:#f44336;
    cursor: pointer;
}

.modal-header {
    height: 130px;
    background: #009688;
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 16px 0;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    margin: 0 0 24px;
}

#buy-tickets {
    background: #009688;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 16px;
    border: none;
}

#buy-tickets:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-help {   
    padding: 16px;
    text-align: right;
}

.modal-help a {
    color: #2196F3;
}

/* Contact form */

.contact-content {
    margin-top: 48px;
    padding: 32px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-"] {
    font-size: 15px;
    width: 30px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */

.map-section img {
    width: 100%;
    filter: grayscale(50%);
}

/* footer */

#footer {
    padding: 64px 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a {
    margin: 0 2px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}

